[flake8]
max-line-length = 150
max-complexity = 15
max-cognitive-complexity = 15
max-parameters-amount = 8
min_python_version = 3.9.0
copyright-regexp = Copyright Amazon.com, Inc\..*
exclude =
    .git,
    __pycache__,
    .vscode

# enables all flake8 checks
select = A,B,B9,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z,0,1,2,3,4,5,6,7,8,9

# disable below checks:
ignore =
    FS003,  # f-string missing prefix (false positives with raw strings)
    T003,  # add link on issue into TODO
    W503,  # Line break occurred before binary operator
    E203,  # whitespace before ':'
    E231,  # missing whitespace after ':' (false positives with ARN formats)
    E713,  # test for membership should be 'not in' (style preference)
    TYP001,  # guard import by `if False: # TYPE_CHECKING`
    R506,  # unnecessary elif after raise statement
    R508,  # unnecessary else after break statement
    B907   # manually surrounded by quotes, consider using the `!r` conversion flag

# disable flake8 checks for Lambda function source code that will be used inline. (max 4096 characters)
per-file-ignores =
    inline_lambda.py:D100,D103,C801
    ; D100  # missing docstring in public module
    ; D103  # missing docstring in public function
    ; C801  # copyright notice not present
