########################################################################
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0
########################################################################
AWSTemplateFormatVersion: 2010-09-09
Description:
  This template creates an IAM role to be distributed into all accounts to be assumed by the configuration Lambda Function in the Management Account -  - 'patch_mgmt' solution in the repo,
  https://github.com/aws-samples/aws-security-reference-architecture-examples (sra-1u3sd7f8r)

Metadata:
  SRA:
    Version: 1.0
    Order: 2
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
          default: General Properties
        Parameters:
          - pSRASolutionName

      - Label:
          default: Role Properties
        Parameters:
          - pPatchMgmtRoleName
          - pPatchMgmtLambdaRoleName
          - pManagementAccountId

    ParameterLabels:
      pManagementAccountId:
        default: Organization Management Account ID
      pPatchMgmtLambdaRoleName:
        default: Lambda Role Name
      pPatchMgmtRoleName:
        default: Patch Management Role Name
      pSSMAutomationRoleName:
        default: SSM Automation Role Name
      pSRASolutionName:
        default: SRA Solution Name
      pDefaultHostConfigRoleName:
        default: Default Host Config Role Name

Parameters:
  pManagementAccountId:
    AllowedPattern: '^\d{12}$'
    ConstraintDescription: Must be 12 digits
    Description: Organization Management Account ID
    Type: String
  pPatchMgmtLambdaRoleName:
    AllowedPattern: '^[\w+=,.@-]{1,64}$'
    ConstraintDescription: Max 64 alphanumeric characters. Also special characters supported [+, =, ., @, -]
    Default: sra-patch-mgmt-lambda
    Description: Lambda Role Name
    Type: String
  pPatchMgmtRoleName:
    AllowedPattern: '^[\w+=,.@-]{1,64}$'
    ConstraintDescription: Max 64 alphanumeric characters. Also special characters supported [+, =, ., @, -]
    Default: sra-patch-mgmt-configuration
    Description: Patch Management IAM Role Name
    Type: String
  pSSMAutomationRoleName:
    AllowedPattern: '^[\w+=,.@-]{1,64}$'
    ConstraintDescription: Max 64 alphanumeric characters. Also special characters supported [+, =, ., @, -]
    Default: sra-patch-mgmt-automation
    Description: SSM Automation IAM Role Name
    Type: String
  pDefaultHostConfigRoleName:
    AllowedPattern: '^[\w+=,.@-]{1,64}$'
    ConstraintDescription: Max 64 alphanumeric characters. Also special characters supported [+, =, ., @, -]
    Default: AWSSystemsManagerDefaultEC2InstanceManagementRoleCustom
    Description: Default Host Config IAM Role Name
    Type: String
  pSRASolutionName:
    AllowedValues: [sra-patch-mgmt-org]
    Default: sra-patch-mgmt-org
    Description: The SRA solution name. The default value is the folder name of the solution
    Type: String
  pPatchMgrEC2Profile:
    Default: patch-mgr-ec2-profile
    Description: An instance profile that can be used if facing issues with the Default Host Configuration setting.
    Type: String
  pPatchMgrEC2ProfileRole:
    Default: patch-mgr-ec2-profile-role
    Description: The Role that the patch-mgr-ec2-profile will use.
    Type: String

Resources:
  rConfigurationRole:
    Type: AWS::IAM::Role
    Metadata:
      checkov:
        skip:
          - id: "CKV_AWS_111"
            comment: "Ensure IAM policies does not allow write access without constraints"
      cfn_nag:
        rules_to_suppress:
          - id: W11
            reason: Actions require * in resource
          - id: W28
            reason: Explicit role name provided
    Properties:
      RoleName: !Ref pPatchMgmtRoleName
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Action: sts:AssumeRole
            Condition:
              StringEquals:
                aws:PrincipalArn:
                  - !Sub arn:${AWS::Partition}:iam::${pManagementAccountId}:role/${pPatchMgmtLambdaRoleName}
            Principal:
              AWS:
                - !Sub arn:${AWS::Partition}:iam::${pManagementAccountId}:root
      Path: "/"
      Policies:
        - PolicyName: sra-patch-mgmt-passrole
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Sid: AllowPassRoleSimple
                Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:role/service-role/AWSSystemsManagerDefaultEC2InstanceManagementRoleCustom
                  - !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:role/sra-patch-mgmt-automation
        - PolicyName: sra-patch-mgmt-ssm-general
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - sts:GetCallerIdentity
                  - ssm:UpdateServiceSetting
                  - ssm:CreateMaintenanceWindow
                  - ssm:DeleteMaintenanceWindow
                  - ssm:RegisterTargetWithMaintenanceWindow
                  - ssm:RegisterTaskWithMaintenanceWindow
                  - ssm:DeregisterTaskFromMaintenanceWindow
                  - ssm:UpdateMaintenanceWindow
                  - ssm:UpdateMaintenanceWindowTarget
                  - ssm:UpdateMaintenanceWindowTask
                  - ssm:AddTagsToResource
                  - ssm:DeregisterTargetFromMaintenanceWindow
                  - ssm:DescribeMaintenanceWindows
                  - ssm:ListTagsForResource
                  - ssm:DescribeMaintenanceWindowSchedule
                  - ssm:DescribeMaintenanceWindowTargets
                  - ssm:DescribeMaintenanceWindowTasks
                  - ssm:DescribeDocument
                Resource:
                  - "*"
        - PolicyName: sra-patch-mgmt-reset-default-host
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - ssm:ResetServiceSetting
                Resource:
                  - !Sub arn:${AWS::Partition}:ssm:*:${AWS::AccountId}:servicesetting/ssm/managed-instance/default-ec2-instance-management-role
        - PolicyName: sra-patch-mgmt-policy-organizations
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Sid: OrganizationsListAccounts
                Effect: Allow
                Action:
                  - organizations:ListAccounts
                  - organizations:DescribeOrganization
                Resource: "*"
      Tags:
        - Key: sra-solution
          Value: !Ref pSRASolutionName

  rSSMAutomationRole:
    Type: AWS::IAM::Role
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: F3
            reason: Actions require * in permissions policy
          - id: W11
            reason: Actions require * in resource
          - id: W28
            reason: Explicit role name provided
    Properties:
      RoleName: !Ref pSSMAutomationRoleName
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - ssm.amazonaws.com
      Path: "/"
      Policies:
        - PolicyName: sra-patch-mgmt-automation-passrole
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              - Sid: AllowPassRoleSimple
                Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !Sub arn:${AWS::Partition}:iam::${AWS::AccountId}:role/sra-patch-mgmt-automation
        - PolicyName: sra-patch-mgmt-lambda-automation-policy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              Effect: Allow
              Action: lambda:InvokeFunction
              Resource:
                - arn:aws:lambda:*:*:function:Automation*
        - PolicyName: sra-patch-mgmt-automation-ec2-policy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              Effect: Allow
              Action:
                - ec2:CreateImage,
                - ec2:CopyImage,
                - ec2:DeregisterImage
                - ec2:DescribeImages
                - ec2:DeleteSnapshot
                - ec2:StartInstances
                - ec2:RunInstances
                - ec2:StopInstances
                - ec2:TerminateInstances
                - ec2:DescribeInstanceStatus
                - ec2:CreateTags
                - ec2:DeleteTags
                - ec2:DescribeTags
                - cloudformation:CreateStack
                - cloudformation:DescribeStackEvents
                - cloudformation:DescribeStacks
                - cloudformation:UpdateStack
                - cloudformation:DeleteStack
              Resource: "*"
        - PolicyName: sra-patch-mgmt-ssm-automation-policy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              Effect: Allow
              Action: ssm:*
              Resource: "*"
        - PolicyName: sra-patch-mgmt-automation-sns-policy
          PolicyDocument:
            Version: 2012-10-17
            Statement:
              Effect: Allow
              Action: sns:Publish
              Resource:
                - arn:aws:sns:*:*:Automation*
      Tags:
        - Key: sra-solution
          Value: !Ref pSRASolutionName

  rDefaultHostConfigRoleName:
    Type: AWS::IAM::Role
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: F3
            reason: Actions require * in permissions policy
          - id: W11
            reason: Actions require * in resource
          - id: W28
            reason: Explicit role name provided
    Properties:
      RoleName: !Ref pDefaultHostConfigRoleName
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - ssm.amazonaws.com
      Path: "/service-role/"
      ManagedPolicyArns:
        - !Sub arn:${AWS::Partition}:iam::${AWS::Partition}:policy/AmazonSSMManagedEC2InstanceDefaultPolicy
      Tags:
        - Key: sra-solution
          Value: !Ref pSRASolutionName
  rPatchMgrEC2ProfileRole:
    Type: AWS::IAM::Role
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: F3
            reason: Actions require * in permissions policy
          - id: W11
            reason: Actions require * in resource
          - id: W28
            reason: Explicit role name provided
    Properties:
      RoleName: !Ref pPatchMgrEC2ProfileRole
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Action: sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - ec2.amazonaws.com
      Path: "/"
      ManagedPolicyArns:
        - !Sub arn:${AWS::Partition}:iam::${AWS::Partition}:policy/AmazonSSMManagedInstanceCore
      Tags:
        - Key: sra-solution
          Value: !Ref pSRASolutionName

  rPatchMgrEC2Profile:
    Type: AWS::IAM::InstanceProfile
    Metadata:
      cfn_nag:
        rules_to_suppress:
          - id: F3
            reason: Actions require * in permissions policy
          - id: W11
            reason: Actions require * in resource
          - id: W28
            reason: Explicit role name provided
    Properties:
      InstanceProfileName: !Ref pPatchMgrEC2Profile
      Path: "/"
      Roles:
        - !Ref pPatchMgrEC2ProfileRole
    DependsOn: rPatchMgrEC2ProfileRole
