AWSTemplateFormatVersion: '2010-09-09'
Description: {{manifest.portfolios[portfolio_index].products[product_index].description}}

Parameters:
  AccountName:
    Description: Name for the Account
    Type: String
    MinLength: 3 # Minimum length for account alias https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreateAccountAlias.html
    MaxLength: 50 # Maximum length for account name https://docs.aws.amazon.com/organizations/latest/APIReference/API_CreateAccount.html
    # AllowedPattern: ^[a-z0-9](([a-z0-9]|-(?!-))*[a-z0-9])?$
  
  AccountEmail:
    Description: Email for the Account
    Type: String
    MinLength: 6
    MaxLength: 64
    AllowedPattern: ^[_A-Za-z0-9-\+\.]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$
    ConstraintDescription: Account Email can contain only ASCII characters. This must be in the format of something@email.com
  
  OrgUnitName:
    Description: Name of Organizations Unit
    Type: String
    AllowedValues:
      {%- for ou in manifest.organizational_units %}
        {%- for product_name in ou['include_in_baseline_products'] %}
          {%- if product_name == manifest.portfolios[portfolio_index].products[product_index].name %}
      - {{ ou['name'] }}
          {%- endif %}
        {%- endfor %}
      {%- endfor %}

  VPCRegion:
    Description: VPC Region
    Type: String
    AllowedValues:
      {%- for region in regions %}
      - {{ region }}
      {%- endfor %}
    Default: {{ manifest.region }}

Metadata:
  AWS::CloudFormation::Interface:
    ParameterGroups:
      - Label:
         default: Account Information
        Parameters:
          - AccountName
          - AccountEmail
          - OrgUnitName
    ParameterLabels:
      AccountName:
        default: Account Name
      AccountEmail:
        default: Account Email
      OrgUnitName:
        default: Organization Unit Name

Resources:

#
# Check if AVM was run for this account before
#

  CheckAVMExistsForAccount:
    Type: Custom::CheckAVMExistsForAccount
    Properties:
      PortfolioName: {{manifest.portfolios[portfolio_index].name}}
      ProductName: {{manifest.portfolios[portfolio_index].products[product_index].name}}
      ProdParams:
        OUName: !Ref OrgUnitName
        AccountName: !Ref AccountName
        AccountEmail: !Ref AccountEmail
      ServiceToken: {{ lambda_arn }}


#
# AWS Organizations Custom Resource - Creates one new account
#

  Organizations:
    DependsOn:
      - CheckAVMExistsForAccount
    Type: Custom::Organizations
    Properties:
      OUName: !Ref OrgUnitName
      AccountName: !Ref AccountName
      AccountEmail: !Ref AccountEmail
      {%- if manifest.nested_ou_delimiter != '' %}
      OUNameDelimiter: '{{manifest.nested_ou_delimiter}}'
      {%- endif %}
      ServiceToken: {{ lambda_arn }}

#
# Cloudformation StackSets Custom Resource
#

{%- for resource in manifest.baseline_resources %}
  {%- if resource.deploy_method == 'stack_set' and resource.parameter_override != 'true' %}
    {%- if manifest.portfolios[portfolio_index].products[product_index].name in resource.baseline_products %}

  StackSet{{resource.name}}:
    DependsOn:
      - Organizations
        {%- if resource.depends_on %}
            {%- for depends_on in resource.depends_on %}
      - StackSet{{ depends_on }}
            {%- endfor %}
        {%- endif %}
    Type: Custom::StackInstance
    Properties:
      StackSetName: AWS-Landing-Zone-Baseline-{{resource.name}}
      TemplateURL: ''  ## **** VERY IMPORTANT *** This tells stack set state machine to NOT create/update the StackSet, rather just add a StackInstance
      AccountList:
        - !GetAtt 'Organizations.AccountId'
      RegionList:
        {%- if resource.regions %}
            {%- for regions in resource.regions %}
        - {{ regions }}
            {%- endfor %}
        {%- else %}
        - {{ manifest.region }}
        {%- endif %}
      ServiceToken: {{ lambda_arn }}
    {%- endif %}
  {%- endif %}
{%- endfor %}


#
# Get SSM Parameter Values
#

  SSMGetParameters:
    Type: Custom::SSMParameters
    Properties:
        SSMParameterKeys:
          - /org/member/sharedservices/account_id
          - /org/member/security/account_id
          - /org/member/logging/account_id
        ServiceToken: {{ lambda_arn }}


#
# Expunge VPC Custom Resource - Delete Default VPC
#

  ExpungeVPC:
    DependsOn:
      - Organizations
    Type: Custom::ExpungeVPC
    Properties:
        AccountList:
          - !GetAtt 'Organizations.AccountId'
        Region: !Ref VPCRegion
        ServiceToken: {{ lambda_arn }}

#
# CloudFormation StackSets Custom Resource - AccountAlias
#
{%- for resource in manifest.baseline_resources %}
  {%- if resource.name.startswith('AccountAlias') %}
    {%- if manifest.portfolios[portfolio_index].products[product_index].name in resource.baseline_products %}
  StackSet{{resource.name | replace("-","")| replace("_","")}}:
    Type: Custom::StackInstance
    DependsOn:
      - Organizations
        {%- if resource.depends_on %}
            {%- for depends_on in resource.depends_on %}
      - StackSet{{ depends_on | replace("-","")| replace("_","") }}
            {%- endfor %}
        {%- endif %}
    Properties:
      StackSetName: AWS-Landing-Zone-Baseline-{{resource.name}}
      TemplateURL: ''  ## **** VERY IMPORTANT *** This tells stack set state machine to NOT create/update the StackSet, rather just add a StackInstance
      AccountList:
        - !GetAtt 'Organizations.AccountId'
      RegionList:
        {%- if resource.regions %}
            {%- for regions in resource.regions %}
        - {{ regions }}
            {%- endfor %}
        {%- else %}
        - {{ manifest.region }}
        {%- endif %}
      ServiceToken: {{ lambda_arn }}
      ParameterOverrides:
        pAccountName: !Ref AccountName
        pAccountEmail: !Ref AccountEmail
    {%- endif %}
  {%- endif %}
{%- endfor %}        

Outputs:
  AccountName:
    Description: Account Name
    Value: !Ref AccountName
  AccountEmail:
    Description: Account Email
    Value: !Ref AccountEmail
  AccountID:
    Description: Account ID
    Value: !GetAtt 'Organizations.AccountId'