name: safety - Python Dependency Check

on:
  pull_request:
    branches:
      - main
  push:

jobs:
  Linting:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.12]
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v3
        with:
          python-version: 3.12
      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      #----------------------------------------------
      # install dependencies without cache
      #----------------------------------------------
      - name: Install dependencies for safety scan
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-safety.txt
          pip install safety
      - name: Safety scan
        env:
          API_KEY: ${{secrets.SAFETY_API_KEY}}
        run: |
          safety check --file requirements-safety.txt --ignore 66742,77744 || true
