name: safety - Python Dependency Check

on:
  pull_request_target:
    branches:
      - main
  push:

jobs:
  Linting:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.12]
    steps:
      #----------------------------------------------
      #       check-out repo and set-up python
      #----------------------------------------------
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v3
        with:
          python-version: 3.12
      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true
      #----------------------------------------------
      # install dependencies without cache
      #----------------------------------------------
      - name: Install dependencies
        run: |
          poetry cache clear --all pypi
          poetry install --only main --no-root
      #----------------------------------------------
      # Run Safety scan
      #----------------------------------------------
      - name: Safety scan
        continue-on-error: true
        env:
          API_KEY: ${{secrets.SAFETY_API_KEY}}
        run: |
          poetry run pip install safety
          poetry run safety check -i 66742 -i 77744 || echo "Safety check completed with known vulnerabilities that are being addressed"
